@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --primary-font: 'Manrope', sans-serif;
}

html {
  font-size: 62.5%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: var(--light-grayish-blue);
  position: relative;
  min-height: 100vh;
  font-family: var(--primary-font);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  width: 100%;
}

.decor-tips {
  width: 730px;
  display: flex;
}

.decor-tips__main-img {
  width: 28.5rem;
  height: 28rem;
  object-fit: cover;
  object-position: left;
  border-radius: 1em 0 0 1em;
}

.decor-tips__content {
  padding: 0 4rem;
  background: #fff;
  border-radius: 0 1em 1em 0;
  box-shadow: 2.6em 2.9em 10em -8.7em rgba(0, 0, 0, 0.75);
}

.decor-tips__header {
  margin-top: 3.2rem;
}

.decor-tips__heading {
  font-size: 2.001rem;
  line-height: 1.42;
  letter-spacing: 0.25px;
  color: var(--very-dark-grayish-blue);
}

.decor-tips__text {
  margin-top: 1.2rem;
  font-size: 1.3rem;
  line-height: 1.56;
  letter-spacing: 0.11px;
  color: var(--desaturated-dark-blue);
}

.decor-tips__footer {
  margin-top: 1.88rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.decor-tips__author-figure {
  display: flex;
  align-items: center;
  gap: 1.65rem;
}

.decor-tips__figcaption {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.decor-tips__author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.decor-tips__author-name {
  font-size: 1.31rem;
  letter-spacing: -0.01px;
  color: var(--very-dark-grayish-blue);
}

.decor-tips__date-published {
  font-size: 1.31rem;
  font-weight: 500;
  color: var(--grayish-blue);
}

.decor-tips__btn-share {
  display: grid;
  place-items: center;
  background: var(--light-grayish-blue);
  border: none;
  border-radius: 50%;
  padding: 0.85rem;
  cursor: pointer;
  color: var(--desaturated-dark-blue);
  transition: all 0.2s ease;
  position: relative;
}

/* .decor-tips__btn-share:hover {
  background: var(--desaturated-dark-blue);
  color: #fff;
} */

.decor-tips__share-icons {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  border-radius: 0.8rem;
  top: -8.3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 24.5rem;
  height: 5.3rem;
  padding: 0 3.5rem;
  transition: all 0.2s ease;
  cursor: default;
}

.decor-tips__share-icons::after {
  content: '';
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  height: 5rem;
  border-left: 1.3rem solid transparent;
  border-right: 1.3rem solid transparent;
  border-top: 1.3rem solid var(--very-dark-grayish-blue);
  cursor: pointer;
}

.decor-tips__btn-share:hover .decor-tips__share-icons {
  background: var(--very-dark-grayish-blue);
  visibility: visible;
  opacity: 1;
}

.decor-tips__share-text {
  padding-top: 0.27rem;
  text-transform: uppercase;
  letter-spacing: 4.3px;
  font-weight: 500;
  cursor: text;
  user-select: text;
}

.decor-tips__share-icons-list {
  padding-top: 0.2rem;
  display: flex;
  align-items: center;
  gap: 1.65rem;
}

.decor-tips__share-svg--secondary--list-item {
  display: none;
}

.test {
  color: #fff;
}

.attribution {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: inherit;
  text-decoration: none;
}

.attribution a:hover {
  color: var(--very-dark-grayish-blue);
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  body {
    padding: 2rem;
  }

  .main {
    margin: 0 auto;
    width: 85%;
  }

  .decor-tips {
    width: 90%;
  }

  .decor-tips__main-img {
    height: auto;
  }

  .decor-tips__content {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }

  .attribution {
    position: static;
    transform: none;
  }
}

@media only screen and (max-width: 790px) {
  .decor-tips__share-icons {
    justify-content: center;
    gap: 1rem;
    width: 18.5rem;
  }
}

@media only screen and (max-width: 760px) {
  .decor-tips {
    width: 95%;
  }
}

@media only screen and (max-width: 720px) {
  .decor-tips__content {
    padding: 0 1.8rem 2.5rem 1.8rem;
  }
}

@media only screen and (max-width: 670px) {
  body {
    padding: 1.5rem;
  }

  .main {
    display: block;
    min-height: auto;
    width: 100%;
  }

  .decor-tips {
    flex-direction: column;
    margin: 0 auto;
    position: relative;
  }

  .decor-tips__main-img {
    width: 100%;
    border-radius: 1em 1em 0 0;
  }

  .decor-tips__content {
    width: 100%;
    border-radius: 0 0 1em 1em;
    padding: 0 2.5rem 2rem 2.5rem;
  }

  .decor-tips__text {
    margin-bottom: 5rem;
  }

  .attribution {
    position: absolute;
    transform: translateX(-50%);
  }

  .decor-tips__footer {
    margin-top: 1.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .decor-tips__btn-share {
    position: static;
  }

  .decor-tips__share-icons {
    border-radius: 0 0 0.8em 0.8em;
    top: calc(100% - 8rem);
    left: 0;
    bottom: 0;
    transform: none;
    justify-content: flex-start;
    gap: 1.6rem;
    width: 100%;
    height: 8rem;
    padding: 0 2.7rem;
  }

  .decor-tips__share-icons::after {
    content: none;
  }

  .decor-tips__share-svg--secondary--list-item {
    background: var(--desaturated-dark-blue);
    display: grid;
    place-items: center;
    padding: 0.8rem;
    border-radius: 50%;
    margin-left: auto;
    position: absolute;
    right: 0;
    margin-right: 2.5rem;
  }
}

@media only screen and (max-width: 460px) {
  .main {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 415px) {
  .decor-tips__main-img {
    height: 23rem;
  }
}

@media only screen and (max-width: 400px) {
  .decor-tips__heading {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 375px) {
  .decor-tips__main-img {
    height: 18rem;
  }

  .decor-tips__heading {
    font-size: 1.6rem;
  }

  .decor-tips__text {
    font-size: 1.33rem;
    margin-bottom: 4rem;
  }

  .decor-tips__content {
    padding: 0 3rem 2rem 3rem;
  }

  .decor-tips__share-icons {
    gap: 1.6rem;
    height: 8rem;
    padding: 0 3rem;
    z-index: 1;
  }

  .decor-tips__share-svg--secondary--list-item {
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 330px) {
  .decor-tips__content {
    padding: 0 1rem 2rem 1rem;
  }

  .decor-tips__share-icons {
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.2rem;
  }

  .decor-tips__share-svg--secondary--list-item {
    margin-right: 1rem;
  }
}
